body{
    background: grey;
  }
  
  div{
  border: 1px solid black;
  }
  
  b{
    padding: 5px;
  }
  
  tr,
  td,
  th,
  table {
      border: 1px solid black;
  }
  
  th{
      font-size: 12px;
      background: darkgrey;
      color: black;
  }


  .scrollableTable {
    display: table;
    width: 100%;
  }
  
  .scrollableTable thead,
  .scrollableTable tbody {
    width: 100%;
    font-size: 11px;

  }
  
  .scrollableTable thead {
    overflow-y: scroll;
    display: table;
    table-layout: fixed;
  }
  
  .scrollableTable tbody {
    overflow: auto;
    overflow-x: hidden;
    display: block;
    height: 300px;
    word-wrap: normal;
  }
  
  .scrollableTable tr {
    width: 100%;
    text-align: left;
    display: table;
    table-layout: fixed;
  }

  #routeEditControlsContainer{
    visibility: hidden;
  }