{% extends "layout.jinja2" %}

{% block content %}
<div class="navbar-brand">
  <img src="{{ url_for('static', filename='dist/img/uclan-logo-2020.png') }}" class="logo" />
  <a href="/dashapp/" class="dash-link" target="_top">
    <i class="fas fa-arrow-right"></i>
  </a>
</div>
{% endblock %}
